page-mesCenter {
    // 头部
    .toolbar-title-ios{
        color: white;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        background: #F05C38;
        border: none;
    }
    .bar-button-default-ios{
        color: white;
    }
    .back-button-text-ios{
        display: none;
    }

    // 底部的固定样式
    .scroll-content{
        margin-bottom: 0 !important;
    }
    .fixed-content {
        margin-bottom: 0 !important;
    }

    // content
    ion-content{
        background: #F2F2F2 !important;
        .item-ios ion-avatar img{
            height:50px;
            width:50px;
            border-radius: 100%;
        }
        .text{
            font-size: 15px;
            color: #626262;
        }
        .mes{
            font-size: 8px;
            color: #626262;
        }
    }
    
}
